:root {
	--background: #313643;

  }


$primary   : #1976D2;
$secondary : #848D97;
$accent    : #a4647ab9;

$dark      : #313643;
$dark-page : #313643;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
